$breakpoint--very-small: 360px;
$breakpoint--small: 600px;
$breakpoint--medium: 768px;
$breakpoint--large: 1024px;
$breakpoint--very-large: 1280px;
$breakpoint--wide: 1600px;

$color--white: #ffffff;
$color--riptide: #82e5cd;
$color--geraldine: #fe7e80;
$color--mirage: #181833;
$color--ebony: #111027;