@import 'assets/styles/index.scss';

.complete {
    min-height: 100vh;
    background-color: $color--mirage;

    .main {
        &__container {
            @extend %container--mobile;

            padding-top: 50px;
            padding-bottom: 50px;
        
            @include media('medium') {
                width: 500px;
            }
        }

        &__subheadline {
            @extend %font--subheadline;

            margin-bottom: 10px;

            @include media('medium') {
                margin-bottom: 0;
            }
        }

        &__description {
            margin-top: 20px;
            margin-bottom: 30px;
            text-align: justify;

            @include media('small') {
                max-width: 305px;
            }

            @include media('medium') {
                max-width: 360px;
            }

            @include media('large') {
                max-width: 410px;
            }
        }
    }
}